.form-markdown {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-markdown textarea {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  resize: vertical;
  /* width: 500px; */
  height: 500px;
  /* margin-right: 15px; */
}

.form-markdown .markdown-container{
    justify-content: space-between;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px dashed #000;
    resize: vertical;
    width: 100%;
    height: 500px;
}
